* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-button-text-color);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    height: 35px;
    margin-top: 10px;
    width: 200px;
    padding-left: 5px;
  }

  button {
    height: 35px;
    margin-top: 10px;
    width: 200px;
  }

  span{
    padding-left: 2px;
    margin-top: 3px;
    width: 200px;
    color: red;
    font-size: 10px;
  }
}